<div id="container">
  <div id="container_area" class="clearfix">
    <div id="store_name">
      <div id="store_name_area">
	      ビストロ　ＸＸＸキッチン
      </div>
    </div>
    
    <div id="main_panel_area">
      <!---------------------- 各メニューの表示 （開始） ---------------------->
      <% @food_menues.each_with_index do |food_menu, loop| %>
        <div class="menu_area clearfix">
          
	        <div class="menu_title">
	          <%= food_menu.title %><sub><a href="#drink"></a></sub>付き）
	        </div>

  	      <!-------------- 各メニュー画像の表示（開始） -------------->
  	      <%# 料理画像を左右交互に表示         %>
  	      <%#（classの2つ目の設定値を切り替え）%>
  	      <% which_disp = (loop % 2 == 0) ? ("image_disp_left") : ("image_disp_right") %>
  	      
  	      <div class=" image_area <%= "#{which_disp}" %> clearfix">
	          <%  @foods_pictures[food_menu.id].each do | picture |       %>
	          <%=   image_tag(picture.pict_url, :alt => picture.pict_alt) %>
            <%  end                                                     %>
       	  </div>
       	  <!-------------- 各メニュー画像の表示（終了） -------------->
       	  
       	  <!-- 各料理に対しての説明を表示 -->
       	  <div class="menu_desc">
       	    <%= simple_format(food_menu.description) %>
            <br><br>
            ドリンクは<a class="drink_link" href="#drink">こちら</a>からお選びください
          </div>
          
       	</div> <!-- menu_area -->
      <% end %>
      <!---------------------- 各メニューの表示 （終了） ---------------------->
      
      
      <!------------------- ドリンクメニューの表示 （開始） ------------------->
      <div id="drink" class="font_white clearfix">
	      <div class="drink_heading">
	        ドリンクは以下からお選びください。
	      </div>
	      
	      <%# アイス(loop=0)、ホット(loop=1)の順で表示 %>
	      <% for loop in 0..1 do %>
	        <% temperature_msg = (loop == 0) ? ("アイス") : ("ホット") %>
	        <% ground_color = (loop == 0) ? ("background_green") : ("background_red") %>
	        
	        <div class="drink_sub_heading">
	          <span class=" <%= ground_color %> "><%= temperature_msg %></span>
  	      </div>
  
    	    <div class="drink_menu">
        	  <ul>
        	    <% hash_val = (loop == 0) ? ("ice") : ("hot") %>
        	    
        	    <% @drinks[hash_val].each do |drink| %>
    	          <li><%= drink.name %></li>
    	        <% end %>
    	      </ul>
    	    </div>
  	    <% end %>
      </div> <!-- drink -->
      <!------------------- ドリンクメニューの表示 （終了） ------------------->
    </div>  <!-- main_panel_area -->
    
    <div id="side_bar">
    <div id="side_bar_area" class="font_white">
	    <div id="reserve_info">
	      <h1 class="under_line put_center">店舗情報</h1>
	      <ul>
	        <li>店名：ビストロ　ＸＸＸキッチン</li>
	        <li>住所：東京都千代田区○○-1-2-3</li>
	        <li>電話番号：123-456-789</li>
	        <li>営業時間：11:30~21:00</li>
	        <li>休業日：火曜日</li>
	      </ul>
        <br>
        <h1 class="under_line put_center">予約について</h1>
	      <ul>
	        <li>予約は翌日～30日まで承ります。</li>
	        <br>
	        <li>予約人数は5名様までです。</li>
	        <li class="font_small">（6名様以上は電話で承ります。）</li>
	        <br>
	        <li>閉店時間の30分前まで承ります</li>
	      </ul>
        <div class="put_center">
	        <%= button_to "日時の選択へ", "/store_web_sites/reserve_list", method: :get %>
	      </div>
      </div>
    
      <div id="reserve_msg"></div> <!-- JavaScriptよりメッセージを表示 -->
    
    </div> <!-- side_bar -->
    </div> <!-- side_bar_area -->
</div> <!-- container -->
</div> <!-- container_area -->

